<h1>New Cat</h1>

<%= render 'form', cat: @cat, type: 'new' %>

<!--<form action="<%#= cats_url %>" method="POST">
    <label>Name:
        <input type="text" name="cat[name]" value="<%#= @cat.name %>">
    </label>

    <br><br>

    <label for="sex">Sex:</label>
    <label for="male">Male</label>
    <input type="radio" name="cat[sex]" id="male" value= "M">
    <label for="female">Female</label>
    <input type="radio" name="cat[sex]" id="female" value= "F">
 

    <br><br>

    <label for="colors">Choose A Color:</label>
    <select name="cat[color]">
        <option selected disabled>--select a color--</option>
        <%# Cat::COLORS.each do |color| %>
            <option value="<%#= color %>"><%#= "#{color}" %></option>
        <% #end %>
    </select>

    <br><br>

    <label>Birthday:
        <input type="date" name="cat[birth_date]" value="<%#= @cat.birth_date %>">
    </label>

    <br><br>

    <label for="description">Description:
        <textarea name="cat[description]" id="description" >
        <%#= @cat.description%>
        </textarea>
    </label>

    <br><br>

    <input type="submit" value="Create Cat!">

</form>-->






